.game-room {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
}
.game-display {
  grid-row: 1 / end;
  grid-column: 2;
  background-color: cadetblue;
  width: 400px;
  height: 400px;
}
.roomName {
  grid-row: 1;
  grid-column: 1;
}
/* .backBut {
    width: 60%;
    grid-row: 2;
    grid-column: 1;
} */

.users {
  grid-row: 2 / end;
  grid-column: 1;
}
/* .readyBut {
    margin: 50% 50%;
} */
#user-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#counter-container {
 font-size: 80px;
}
