#rooms-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;
  }
h1 {
    grid-row: 1/3;
    grid-column: 1/3;
}
button.createRoom {
    justify-self: start;
    grid-row: 2/3;
    grid-column: 1/2;
}
#rooms-container {
    grid-row: 3/end;
    grid-column: 1/end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
.room-item {
    width: 200px;
    height: 100px;
    background-color: cadetblue;
    justify-self:center
}  
    
  h1 {
      padding-left: 50px;
      padding-top: 50px;
  }
  button {
      text-decoration: none;
      background-color: blue;
      text-align: center;
  }
  button.createRoom {
      margin-left: 50px;
      margin-top: 50px;
  }
  #game-page {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 1fr 1fr 2fr 0.5fr;
  }
    #game-display {
        background-color: coral;
        grid-row: 2/4;
        grid-column: 2/3;
    }
    #on-ready {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    border-radius:5px;
    background-color:#768d87;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    width: 200px;
    height: 100px;
    margin: 40%;
    }
    #on-ready.display-none {
        display: none;
    }
    #connectedUsers {
        grid-row: 1;
        grid-column: 1/end;
        font-size: 10px;
    }
    #roomName {
        grid-row: 2;
        grid-column: 1/end;
        font-size: 10px;
    }
  button#returnBut {
      grid-row: 2/3;
      grid-column: 1/2;
      width: 40%;
      height: 40px;
  }
  /* button#returnBut.display-none {
    display: none;
} */
  #users-display {
      grid-column: 1/2;
      grid-row: 3/end;
  }
  .user-item {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr;
  }

  #progres-item-label {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #progres-item {
      grid-row: 2/end;
      grid-column: 1/3;
      background-color: coral;
  }


  #ready {
    grid-row: 2/end;
    grid-column: 3/end;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
#ready.noPlay{
    background-color: grey;
}
#ready.letsPlay{
    background-color: greenyellow;
}

 